html,
body {
    height: 100%;
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    font-family: 'input_mono_regular';
    text-transform: uppercase;
}

section {
    position: absolute;
    top: 50%;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.month { width:100px; margin: 10px; display: inline-block;}
.header { margin-bottom: 40px; }

p  { margin: 0px; }
.m { font-size: 21px; font-weight: bold; margin-bottom: 5px; text-align: left; }
.y { font-size: 40px; font-weight: bold; text-align: middle;}
.p { font-size: 20px; text-align: left; color: #8b8b8b}

svg.graph { color:white; width: 100%; }
svg.graph text {font-family: 'input_mono_regular'; stroke:none; fill:#8b8b8b; font-size:14px; text-anchor: middle; }
svg.graph text.dayLabel { font-size: 10px; }
svg.graph rect { stroke:none }
svg.graph rect.null { fill: none; stroke: none;}
svg.graph rect.today { fill:#ffffff; stroke: #000000;}
svg.graph rect.day { fill:#8b8b8b; }
svg.graph rect.weekend { fill:#747474 }
svg.graph rect.gone { fill:#000000 }
svg.graph path { stroke-linecap: butt; stroke-dasharray: 1,1; fill:none; stroke:#333; stroke-width:13px }